

{% extends 'base/base.html' %}
{% load static %}
{% block content %}


    <!-- BANNER -->
    <section>
        <div class="str">
            <div class="ban-inn ab-ban">
                <div class="container">
                    <div class="row">
                        <div class="hom-ban">
                            <div class="ban-tit">
                                <span><i class="no1">#1</i> Wedding Website</span>
                                <h1>About us</h1>
                                <p>Most Trusted and premium Matrimony Service in the World.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

        <!-- START -->
        <section>
            <div class="ab-sec2">
                <div class="container">
                    <div class="row">
                        <ul>
                            <li>
                                <div>
                                    <img src="{% static 'images/icon/prize.png' %}" alt="">
                                    <h4>Genuine profiles</h4>
                                    <p>The most trusted wedding matrimony brand</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{% static 'images/icon/trust.png' %}" alt="">
                                    <h4>Most trusted</h4>
                                    <p>The most trusted wedding matrimony brand</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="{% static 'images/icon/rings.png' %}" alt="">
                                    <h4>2000+ weddings</h4>
                                    <p>The most trusted wedding matrimony brand</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- END -->

{% include 'inc/home/about.html' %}



    <!-- START -->
{% include 'inc/home/counts.html' %}
    <!-- END -->

    <!-- RECENT COUPLES -->
    <section>
        <div class="hom-partners abo-partners" id="testimonials">
            <div class="container">
                <div class="row">
                    <!-- SUB TITLE -->
                    <div class="sub-tit-caps">
                        <h2>Customer <span class="animate animate__animated" data-ani="animate__flipInX"
                                data-dely="0.1">Testimonials</span></h2>
                        <p>Fusce imperdiet ullamcorper fringilla.</p>
                    </div>

                    <!-- TESTMONIAL BACKGROUND SHAPES -->
                    <div class="wedd-shap">
                        <span class="abo-shap-1"></span>
                        <span class="abo-shap-3"></span>
                    </div>

                    <!-- SLIDER START -->
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <ul>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/1.jpg" alt="">
                                                <div>
                                                    <h4>John Smith</h4>
                                                    <span>IT Profession</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/6.jpg" alt="">
                                                <div>
                                                    <h4>Julia Ann</h4>
                                                    <span>Teacher</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/7.jpg" alt="">
                                                <div>
                                                    <h4>William Son</h4>
                                                    <span>Government Staff</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <ul>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/1.jpg" alt="">
                                                <div>
                                                    <h4>John Smith</h4>
                                                    <span>IT Profession</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/6.jpg" alt="">
                                                <div>
                                                    <h4>Julia Ann</h4>
                                                    <span>Teacher</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ab-testmo">
                                            <div class="ab-test-rat">
                                                <div class="ab-test-star">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    <span>(50 Reviews)</span>
                                                </div>
                                                <div class="ab-test-conte">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout.</p>
                                                </div>
                                            </div>
                                            <div class="ab-rat-user">
                                                <img src="images/profiles/7.jpg" alt="">
                                                <div>
                                                    <h4>William Son</h4>
                                                    <span>Government Staff</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->


    <!-- START -->
    {% include 'inc/home/team.html' %}
    <!-- END -->

    <!-- START -->
    <section>
        <div class="ab-faq" id="faq">

            <div class="container">
                <div class="row">
                    <!-- SUB TITLE -->
                    <div class="sub-tit-caps">
                        <h2>KB <span class="animate animate__animated" data-ani="animate__flipInX"
                                data-dely="0.1">knowledge base</span></h2>
                        <p>Fusce imperdiet ullamcorper fringilla.</p>
                    </div>
                    <!-- TESTMONIAL BACKGROUND SHAPES -->
                    <div class="wedd-shap">
                        <span class="abo-shap-1"></span>
                        <span class="abo-shap-2"></span>
                        <span class="abo-shap-4"></span>
                        <span class="abo-shap-5"></span>
                    </div>
                    <div class="col-lg-6">
                        <div class="ab-faq-lhs">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapse1">
                                            It is a long established fact
                                        </a>
                                    </div>
                                    <div id="collapse1" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                                            Where can I get some?
                                        </a>
                                    </div>
                                    <div id="collapse2" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                                            Where does it come from?
                                        </a>
                                    </div>
                                    <div id="collapse3" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                                            Why do we use it?
                                        </a>
                                    </div>
                                    <div id="collapse4" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                                            What is Lorem Ipsum?
                                        </a>
                                    </div>
                                    <div id="collapse5" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                                            Contrary to popular belief
                                        </a>
                                    </div>
                                    <div id="collapse6" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ab-faq-rhs">
                            <img src="images/about/3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

    {% endblock content %}
