{% extends 'base/base.html' %}
{% load static %}
{% block content %}
 <!-- REGISTER -->
 <section>
    <div class="login pro-edit-update">
        <div class="container">
            <div class="row">
                <div class="inn">
                    <div class="rhs">
                        <div class="form-login">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}                                
                                <!-- PROFILE BIO -->
                                <div class="edit-pro-parti">
                                    <div class="form-tit">
                                        <h4>Basic info</h4>
                                        <h1>Advanced bio</h1>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Gender:</label>
                                            {{ form.gender }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">City:</label>
                                            {{ form.city }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Date of birth:</label>
                                            <input type="date" name="date_of_birth" required="" id="id_date_of_birth">
                                            {% comment %} {{ form.date_of_birth }} {% endcomment %}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Age:</label>
                                            {{ form.age }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Height:</label>
                                            {{ form.height }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Weight:</label>
                                            {{ form.weight }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Father's name:</label>
                                            {{ form.father_name }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Mother's name:</label>
                                            {{ form.mother_name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Address:</label>
                                        {{ form.address }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">About:</label>
                                        {{ form.about }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Religion:</label>
                                        {{ form.religion }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Family Name:</label>
                                        {{ form.family_name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Profession:</label>
                                        {{ form.profession }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Position:</label>
                                        {{ form.position }}
                                    </div>
                                </div>
                                <!-- END PROFILE BIO -->
                                
                                <!-- JOB DETAILS -->
                                <div class="edit-pro-parti">
                                    <div class="form-tit">
                                        <h4>Job details</h4>
                                        <h1>Job & Education</h1>
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Job type:</label>
                                        {{ form.job_type }}
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Company name:</label>
                                        {{ form.company_name }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Salary:</label>
                                            {{ form.salary }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Job total experience:</label>
                                            {{ form.job_experience }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="lb">Degree:</label>
                                        {{ form.degree }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">School:</label>
                                            {{ form.school }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">College:</label>
                                            {{ form.college }}
                                        </div>
                                    </div>
                                </div>
                                <!-- END JOB DETAILS -->
                                
                                <!-- SOCIAL MEDIA -->
                                <div class="edit-pro-parti">
                                    <div class="form-tit">
                                        <h4>Media</h4>
                                        <h1>Social media</h1>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">WhatsApp:</label>
                                            {{ form.whatsapp_link }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Facebook:</label>
                                            {{ form.facebook_link }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Instagram:</label>
                                            {{ form.instagram_link }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">X:</label>
                                            {{ form.x_link }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">YouTube:</label>
                                            {{ form.youtube_link }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">LinkedIn:</label>
                                            {{ form.linkedin_link }}
                                        </div>
                                    </div>
                                </div>
                                <!-- END SOCIAL MEDIA -->
                                
                                <!-- HOBBIES -->
                                <div class="edit-pro-parti">
                                    <div class="form-tit">
                                        <h4>Interests</h4>
                                        <h1>Hobbies</h1>
                                    </div>
                                    <div class="chosenini">
                                        <div class="form-group">
                                            {{ form.hobbies }}
                                        </div>
                                    </div>
                                </div>
                                <!-- END HOBBIES -->
                                
                                <!-- MEDIA -->
                                <div class="edit-pro-parti">
                                    <div class="form-tit">
                                        <h4>Media</h4>
                                        <h1>Upload Images</h1>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Image 1:</label>
                                            {{ form.image1 }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Image 2:</label>
                                            {{ form.image2 }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Image 3:</label>
                                            {{ form.image3 }}
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="lb">Image 4:</label>
                                            {{ form.image4 }}
                                        </div>
                                    </div>
                                </div>
                                <!-- END MEDIA -->
                                
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END -->

{% endblock content %}
