{% extends 'base/base.html' %}
{% load static %}
{% block content %}


{% include 'inc/home/slider.html' %}
{% include 'inc/home/quickaccess.html' %}
{% include 'inc/home/trustbrand.html' %}
{% include 'inc/home/banner.html' %}
{% include 'inc/home/about.html' %}
{% include 'inc/home/counts.html' %}
{% include 'inc/home/moments.html' %}
{% include 'inc/home/recentcouples.html' %}
{% include 'inc/home/team.html' %}
{% include 'inc/home/gallery.html' %}
{% include 'inc/home/blog.html' %}



{% endblock content %}