{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- START -->
    <section>
        <div class="inn-ban">
            <div class="container">
                <div class="row">
                    <h1>Photo gallery</h1>
                    <p>lacinia viverra lectus. Fusce imperdiet ullamcorper metus eu fringilla</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

    <!-- START -->
    <section>
        <div class="wedd-gall wedd-gall-pg">
            <div class="">
                <div class="gall-inn">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slow animate__flipInX anistart">
                            <img src="images/gallery/1.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/gallery/9.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower animate__flipInX anistart">
                            <img src="images/gallery/3.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/gallery/4.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower animate__flipInX anistart">
                            <img src="images/gallery/5.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/gallery/6.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower animate__flipInX anistart">
                            <img src="images/gallery/7.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/gallery/8.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower animate__flipInX anistart">
                            <img src="images/couples/1.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/11.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slow" data-ani="animate__flipInX">
                            <img src="images/couples/2.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/3.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/4.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/5.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/6.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/7.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/8.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/9.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-6">
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/10.jpg" class="gal-siz-2" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                        <div class="gal-im animate animate__animated animate__slower" data-ani="animate__flipInX">
                            <img src="images/couples/11.jpg" class="gal-siz-1" alt="" loading="lazy">
                            <div class="txt">
                                <span>Wedding</span>
                                <h4>Bride & Groom</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->


{% endblock content %}