{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- PRICING PLANS -->
<section>
    <div class="plans-ban">
        <div class="container">
            <div class="row">
                <span class="pri">Pricing</span>
                <h1>Get Started <br> Pick your Plan Now</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <span class="nocre">No credit card required</span>
            </div>
        </div>
    </div>
</section>
<!-- END -->


<!-- PRICING PLANS -->
<section>
    <div class="plans-main">
        <div class="container">
            <div class="row">
                <ul class="d-flex justify-content-center">
                    <li>
                        <div class="pri-box pri-box-pop">
                            <h2>Basic</h2>
                            <p>Get starter pack for free</p>
                            <a href="sign-up.html" class="cta">Get Started</a>
                            <span class="pri-cou"><b>₹0</b>/mo</span>
                            <ol>
                                <li><i class="fa-brands fa-check" aria-hidden="true"></i>unlimited basic profile view for free</li>
                                <li><i class="fa-brands fa-check" aria-hidden="true"></i>Un verified account</li>
                                <li><i class="fa-brands fa-check" aria-hidden="true"></i>cant view contact details</li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="pri-box pri-box-pop">
                            <h2>Premium</h2>
                            <p>Explore all features</p>
                            <a href="sign-up.html" class="cta">Get Started</a>
                            <span class="pri-cou"><b>₹349</b>/mo</span>
                            <ol>
                                <li><i class="fa-solid fa-check"></i>unlimited basic/premium views</li>
                                <li><i class="fa-solid fa-check"></i></i>Verified account</li>
                                <li><i class="fa-solid fa-check"></i>View contact details</li>
                                <li><i class="fa-solid fa-check"></i>privacy from basic users</li>
                                <li><i class="fa-solid fa-check"></i>Send interest</li>
                            </ol>
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END -->
 {% endblock content %}