{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- PROFILE -->
    <section>
        <div class="profi-pg profi-ban">
            <div class="">
                <div class="">
                    <div class="profile">
                        <div class="pg-pro-big-im">
                            <div class="s1">
                                {% if not profile.image1 %}
                                    {% if profile.gender == 'Male' %}
                                        <img src="{% static 'images/couples/maleavatar.jpg' %}" class="image-responsive" alt="male">
                                    {% else %}
                                        <img src="{% static 'images/couples/femaleavatar.jpg' %}" class="image-responsive" alt="female">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ profile.image1.url }}" alt="original">
                                {% endif %}
              
                            </div>
                            <div class="s3">
                       
                                <span class="cta cta-sendint" data-toggle="modal" data-target="#sendInter" style="width: 100% !important;">Send
                                    interest</span>
                            </div>
                        </div>
                    </div>
                    <div class="profi-pg profi-bio">
                        <div class="lhs">
                            <div class="pro-pg-intro">
                                <h1>{{profile.user.name}}</h1>
                                <div class="pro-info-status">
                                    <span class="stat-2"><b>{{ profile.like_count }}</b> Likes</span>
                                </div>
                                <ul>
                                    <li>
                                        <div>
                                            <img src="{% static 'images/icon/pro-city.png' %}" loading="lazy" alt="">
                                            <span>City: <strong>{{profile.city}}</strong></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="{% static 'images/icon/pro-age.png' %}" loading="lazy" alt="">
                                            <span>Age: <strong>{{profile.age}}</strong></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="{% static 'images/icon/pro-height.png' %}" loading="lazy" alt="">
                                            <span>Height: <strong>{{profile.height}} cm</strong></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="{% static 'images/icon/pro-city.png' %}" loading="lazy" alt="">
                                            <span>Job: <strong>{{profile.job_type}}</strong></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c pr-bio-abo">
                                <h3>About</h3>
                                <p>{{profile.about}}</p>

                            </div>
                            <!-- END PROFILE ABOUT -->
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c pr-bio-gal" id="gallery">
                                <h3>Photo gallery</h3>
                                <div id="image-gallery">
                                    <div class="pro-gal-imag">
                                        <div class="img-wrapper">
                                            {% if not profile.image2 %}
                                            {% if profile.gender == 'Male' %}
                                                <img src="{% static 'images/couples/maleavatar.jpg' %}" class="image-responsive" alt="male">
                                            {% else %}
                                                <img src="{% static 'images/couples/femaleavatar.jpg' %}" class="image-responsive" alt="female">
                                            {% endif %}
                                            {% else %}
                                            <img src="{{ profile.image2.url }}" alt="original">
                                            {% endif %}
                                            <div class="img-overlay"><i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-gal-imag">
                                        <div class="img-wrapper">
                                            {% if not profile.image3 %}
                                            {% if profile.gender == 'Male' %}
                                                <img src="{% static 'images/couples/maleavatar.jpg' %}" class="image-responsive" alt="male">
                                            {% else %}
                                                <img src="{% static 'images/couples/femaleavatar.jpg' %}" class="image-responsive" alt="female">
                                            {% endif %}
                                            {% else %}
                                            <img src="{{ profile.image3.url }}" alt="original">
                                            {% endif %}
                                            <div class="img-overlay"><i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-gal-imag">
                                        <div class="img-wrapper">
                                            {% if not profile.image4 %}
                                            {% if profile.gender == 'Male' %}
                                                <img src="{% static 'images/couples/maleavatar.jpg' %}" class="image-responsive" alt="male">
                                            {% else %}
                                                <img src="{% static 'images/couples/femaleavatar.jpg' %}" class="image-responsive" alt="female">
                                            {% endif %}
                                            {% else %}
                                            <img src="{{ profile.image4.url }}" alt="original">
                                            {% endif %}
                                            <div class="img-overlay"><i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE ABOUT -->
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c pr-bio-conta">
                                <h3>Contact info</h3>
                                <ul>
                                    <li><span><i class="fa fa-mobile"
                                                aria-hidden="true"></i><b>Phone:</b>{{profile.user.phone}}</span></li>
                                    <li><span><i class="fa fa-envelope-o"
                                                aria-hidden="true"></i><b>Email:</b>{{profile.user.email}}</span>
                                    </li>
                                    <li><span><i class="fa fa fa-map-marker" aria-hidden="true"></i><b>Address: </b>{{profile.address}}</span></li>
                                </ul>
                            </div>
                            <!-- END PROFILE ABOUT -->
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c pr-bio-info">
                                <h3>Personal information</h3>
                                <ul>
                                    <li><b>Name:</b> {{profile.user.name}}</li>
                                    <li><b>Fatheres name:</b> {{profile.father_name}}</li>
                                    <li><b>Family name:</b> J {{profile.family_name}}</li>
                                    <li><b>Age:</b>  {{profile.age}}</li>
                                    <li><b>Date of birth:</b> {{profile.date_of_birth}}</li>
                                    <li><b>Height:</b> {{profile.height|floatformat:0}} cm</li>
                                    <li><b>Weight:</b> {{profile.weight}} kg</li>
                                    <li><b>Degree:</b>  {{profile.degree}}</li>
                                    <li><b>Religion:</b>  {{profile.religion}}</li>
                                    <li><b>Profession:</b>  {{profile.profession}}</li>
                                    <li><b>Company:</b>  {{profile.company_name}}</li>
                                    <li><b>Position:</b>  {{profile.position}}</li>
                                    <li><b>Salary:</b> ${{profile.salary|floatformat:0}} p/m</li>
                                </ul>
                            </div>
                            <!-- END PROFILE ABOUT -->
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c pr-bio-hob">
                                <h3>Hobbies</h3>
                                <ul>
                                    {% for hobby in profile.hobbies.all %}
                                    <li><span>{{ hobby.name }}</span></li>
                                {% empty %}
                                    <li><span>No hobbies listed.</span></li>
                                {% endfor %}
                                </ul>
                            </div>
                            <!-- END PROFILE ABOUT -->
                            <!-- PROFILE ABOUT -->
                            <div class="pr-bio-c menu-pop-soci pr-bio-soc">
                                <h3>Social media</h3>
                                <ul>
                                    <li><a href="{{profile.facebook_link}}"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="{{profile.x_link}}"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="{{profile.whatsapp_link}}"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a></li>
                                    <li><a href="{{profile.linkedin_link}}"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="{{profile.youtube_link}}"><i class="fa-brands fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="{{profile.instagram_link}}"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <!-- END PROFILE ABOUT -->


                        </div>

                        <!-- PROFILE lHS -->
                        <div class="rhs">
                            <!-- HELP BOX -->
                            <div class="prof-rhs-help">
                                <div class="inn">
                                    <h3>Tell us your Needs</h3>
                                    <p>Tell us what kind of service or experts you are looking.</p>
                                    <a href="sign-up.html">Register for free</a>
                                </div>
                            </div>
                            <!-- END HELP BOX -->
                            <!-- RELATED PROFILES -->
                            <div class="slid-inn pr-bio-c wedd-rel-pro">
                                <h3>Related profiles</h3>
                                <ul class="slider3">
                                    {% for profile in recommended_profiles %}
                                    <li>
                                        <div class="wedd-rel-box">
                                            <div class="wedd-rel-img">
                                                {% if not profile.image1 %}
                                                {% if profile.gender == 'Male' %}
                                                    <img src="{% static 'images/couples/maleavatar.jpg' %}" class="image-responsive" alt="male">
                                                {% else %}
                                                    <img src="{% static 'images/couples/femaleavatar.jpg' %}" class="image-responsive" alt="female">
                                                {% endif %}
                                                {% else %}
                                                    <img src="{{ profile.image1.url }}" alt="original">
                                                {% endif %}
                                                <span class="badge badge-success">{{ profile.age }} Years old</span>
                                            </div>
                                            <div class="wedd-rel-con">
                                                <h5>{{profile.user.name}}</h5>
                                                <span>City: <b>{{profile.city}}</b></span>
                                            </div>
                                            <a href="{% url 'profile_detail' profile.id %}" class="fclick"></a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- END RELATED PROFILES -->
                        </div>
                        <!-- END PROFILE lHS -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PROFILE -->

    <!-- INTEREST POPUP -->
    <div class="modal fade" id="sendInter">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title seninter-tit">Send interest to <span class="intename">Jolia</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body seninter">
                    <div class="lhs">
                        <img src="images/profiles/1.jpg" alt="" class="intephoto1">
                    </div>
                    <div class="rhs">
                        <h4><span class="intename1">Jolia</span> Can able to view the below details</h4>
                        <ul>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_about" checked="">
                                    <label for="pro_about">About section</label>
                                </div>
                            </li>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_photo">
                                    <label for="pro_photo">Photo gallery</label>
                                </div>
                            </li>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_contact">
                                    <label for="pro_contact">Contact info</label>
                                </div>
                            </li>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_person">
                                    <label for="pro_person">Personal info</label>
                                </div>
                            </li>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_hobbi">
                                    <label for="pro_hobbi">Hobbies</label>
                                </div>
                            </li>
                            <li>
                                <div class="chbox">
                                    <input type="checkbox" id="pro_social">
                                    <label for="pro_social">Social media</label>
                                </div>
                            </li>
                        </ul>
                        <div class="form-floating">
                            <textarea class="form-control" id="comment" name="text"
                                placeholder="Comment goes here"></textarea>
                            <label for="comment">Write some message to <span class="intename"></span></label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Send interest</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    <!-- END INTEREST POPUP -->

    <!--- CHAT CONVERSATION BOX START --->
    <div class="chatbox">
        <span class="comm-msg-pop-clo"><i class="fa fa-times" aria-hidden="true"></i></span>

        <div class="inn">
            <form name="new_chat_form" method="post">
                <div class="s1">
                    <img src="images/profiles/2.jpg" class="intephoto2" alt="">
                    <h4><b>Angelina Jolie</b>,</h4>
                    <span class="avlsta avilyes">Available online</span>
                </div>
                <div class="s2 chat-box-messages">
                    <span class="chat-wel">Start a new chat!!! now</span>
                    <div class="chat-con">
                        <div class="chat-lhs">Hi</div>
                        <div class="chat-rhs">Hi</div>
                    </div>
                    <!-- <span>Start A New Chat!!! Now</span>-->
                </div>
                <div class="s3">
                    <input type="text" name="chat_message" placeholder="Type a message here.." required="">
                    <button id="chat_send1" name="chat_send" type="submit">Send <i class="fa fa-paper-plane-o"
                            aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--- END --->
    {% endblock content %}
    