{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="pg-ser">
        <div class="inn">
            <ul>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/19.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Matrimony Wedding Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/14.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>The Ceremony</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/15.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Photography & Video</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/16.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Food Catering</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/17.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Decorations</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/22.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Wedding Halls</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/21.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>Wedding Registry</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gal-im">
                        <img src="images/couples/20.jpg" class="gal-siz-2" alt="" loading="lazy">
                        <div class="txt">
                            <span>Wedding Matrimony</span>
                            <h4>The Perfect Cake</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END -->
{% endblock content %}