{% load static %}
<div class="col-md-4 col-lg-3">
    <div class="db-nav">
        <div class="db-nav-pro">
            {% if biodata.image1.url == none %}
            <img src="{{biodata.image1.url}}" class="img-fluid" alt="">
            {% else %}
            <img src="{% static 'images/profiles/men1.jpg' %}" class="img-fluid" alt="no image">
            {% endif %}
        </div>
        <div class="db-nav-list">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>{{name}}'s Dashbord 
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboardprofile' %}" class="act">
                        <i class="fa fa-male" aria-hidden="true"></i>Profile
                    </a>
                </li>
                <li>
                    <a href="user-interests.html">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>Interests
                    </a>
                </li>
                <li>
                    <a href="user-chat.html">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>Chat list
                    </a>
                </li>
                <li>
                    <a href="user-plan.html">
                        <i class="fa fa-money" aria-hidden="true"></i>Plan
                    </a>
                </li>
                <li>
                    <a href="user-setting.html">
                        <i class="fa fa-cog" aria-hidden="true"></i>Setting
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>