    {% load static %}
    <!-- BLOG POSTS START -->
    <section>
        <div class="hom-blog">
            <div class="container">
                <div class="row">
                    <div class="home-tit">
                        <p>Blog posts</p>
                        <h2><span>Blog & Articles</span></h2>
                        <span class="leaf1"></span>
                        <span class="tit-ani-"></span>
                    </div>
                    <div class="blog">
                        <ul>
                            <li>
                                <div class="blog-box">
                                    <img src="{% static 'images/blog/1.jpg' %}" alt="" loading="lazy">
                                    <span>Wedding - Johnny</span>
                                    <h2>Wedding arrangements</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                    <a href="blog-details.html" class="cta-dark"><span>Read more</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="blog-box">
                                    <img src="{% static 'images/blog/2.jpg' %}" alt="" loading="lazy">
                                    <span>Wedding - Johnny</span>
                                    <h2>Wedding arrangements</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                    <a href="blog-details.html" class="cta-dark"><span>Read more</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="blog-box">
                                    <img src="{% static 'images/blog/3.jpg' %}" alt="" loading="lazy">
                                    <span>Wedding - Johnny</span>
                                    <h2>Invitation cards</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                    <a href="blog-details.html" class="cta-dark"><span>Read more</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

        <!-- FIND YOUR MATCH BANNER -->
        <section>
            <div class="str count">
                <div class="container">
                    <div class="row">
                        <div class="fot-ban-inn">
                            <div class="lhs">
                                <h2>Find your perfect Match now</h2>
                                <p>lacinia viverra lectus. Fusce imperdiet ullamcorper metus eu fringilla.Lorem Ipsum is
                                    simply dummy text of the printing and typesetting industry.</p>
                                <a href="sign-up.html" class="cta-3">Register Now</a>
                                <a href="sign-up.html" class="cta-4">Help & Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END -->