    {% load static %}
    <!-- POPUP SEARCH -->
    <div class="pop-search">
        <span class="ser-clo">+</span>
        <div class="inn">
            <form>
                <input type="text" placeholder="Search here...">
            </form>
            <div class="rel-sear">
                <h4>Top searches:</h4>
                <a href="{% url 'allprofiles' %}">Browse all profiles</a>
                <a href="all-profiles.html">Mens profile</a>
                <a href="all-profiles.html">Female profile</a>
                <a href="all-profiles.html">New profiles</a>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- TOP MENU -->
    <div class="head-top">
        <div class="container">
            <div class="row">
                <div class="lhs">
                    <ul>
                        <li><a href="#!" class="ser-open"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="rhs">
                    <ul>
                        <li><a href="tel:+9704462944"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;+01 5312
                                5312</a></li>
                        <li><a href="mailto:info@example.com"><i class="fa fa-envelope-o"
                                    aria-hidden="true"></i>&nbsp; help@company.com</a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href="#!">{{ request.user.email }}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- MENU POPUP -->
    <div class="menu-pop menu-pop1">
        <span class="menu-pop-clo"><i class="fa-regular fa-rectangle-xmark"></i></i></span>
        <div class="inn">
            <img src="{% static 'images/logo-b.png' %}" alt="" loading="lazy" class="logo-brand-only">
            <p><strong>Best Wedding Matrimony</strong> lacinia viverra lectus. Fusce imperdiet ullamcorper metus eu
                fringilla.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <ul class="menu-pop-info">
                <li><a href="#!"><i class="fa-brands fa-phone" aria-hidden="true"></i>+92 (8800) 68 - 8960</a></li>
                <li><a href="#!"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i>+92 (8800) 68 - 8960</a></li>
                <li><a href="#!"><i class="fa-brands fa-envelope-o" aria-hidden="true"></i>help@company.com</a></li>
                <li><a href="#!"><i class="fa-brands fa-map-marker" aria-hidden="true"></i>3812 Lena Lane City Jackson Mississippi</a></li>
            </ul>
            <div class="menu-pop-help">
                <h4>Support Team</h4>
                <div class="user-pro">
                    <img src="{% static 'images/profiles/1.jpg' %}" alt="" loading="lazy">
                </div>
                <div class="user-bio">
                    <h5>Ashley emyy</h5>
                    <span>Senior personal advisor</span>
                    <a href="enquiry.html" class="btn btn-primary btn-sm">Ask your doubts</a>
                </div>
            </div>
            <div class="menu-pop-soci">

                <ul>
                    <li><a href="#!"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- CONTACT EXPERT -->
    <div class="menu-pop menu-pop2">
        <span class="menu-pop-clo"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="inn">
            <div class="menu-pop-help">
                <h4>Support Team</h4>
                <div class="user-pro">
                    <img src="{% static 'images/profiles/1.jpg' %}" alt="" loading="lazy">
                </div>
                <div class="user-bio">
                    <h5>Ashley emyy</h5>
                    <span>Senior personal advisor</span>
                    <a href="enquiry.html" class="btn btn-primary btn-sm">Ask your doubts</a>
                </div>
            </div>
            <div class="menu-pop-soci">
                <ul>
                    <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="late-news">
                <h4>Latest news</h4>
                <ul>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/1.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/3.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/4.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                </ul>
            </div>

            <!-- HELP BOX -->
            <div class="prof-rhs-help">
                <div class="inn">
                    <h3>Tell us your Needs</h3>
                    <p>Tell us what kind of service you are looking for.</p>
                    <a href="{% url 'register' %}">Register for free</a>
                </div>
            </div>
            <!-- END HELP BOX -->
        </div>
    </div>
    <!-- END -->

    <!-- MAIN MENU -->
    <div class="hom-top">
        <div class="container">
            <div class="row">
                <div class="hom-nav">
                    <!-- LOGO -->
                    <div class="logo">
                        <span class="menu desk-menu">
                            <i></i><i></i><i></i>
                        </span>
                        <a href="{% url 'home' %}" class="logo-brand"><img src="{% static 'images/logo-b.png' %}" alt="" loading="lazy"
                                class="ic-logo"></a>
                    </div>

                    <!-- EXPLORE MENU -->
                    <div class="bl">
                        <ul>
                            <li class="smenu-pare">
                                <span class="smenu">Explore</span>
                                <div class="smenu-open smenu-box">
                                    <div class="container">
                                        <div class="row">
                                            <h4 class="tit">Explore category</h4>
                                            <ul>
                                                <li>
                                                    <div class="menu-box menu-box-2">
                                                        <h5>Browse profiles <span>1200+ Verified profiles</span></h5>
                                                        <span class="explor-cta">More details</span>
                                                        <a href="{% url 'allprofiles' %}" class="fclick"></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="menu-box menu-box-1">
                                                        <h5>Wedding page <span>Make reservation</span></h5>
                                                        <span class="explor-cta">More details</span>
                                                        <a href="wedding.html" class="fclick"></a>
                                                    </div>
                                                </li>
                                                {% comment %} <li>
                                                    <div class="menu-box menu-box-3">
                                                        <h5>All Services<span>Lorem ipsum dummy</span></h5>
                                                        <span class="explor-cta">More details</span>
                                                        <a href="services.html" class="fclick"></a>
                                                    </div>
                                                </li> {% endcomment %}
                                                <li>
                                                    <div class="menu-box menu-box-4">
                                                        <h5>Join Now <span>Lorem ipsum dummy</span></h5>
                                                        <span class="explor-cta">More details</span>
                                                        <a href="{% url 'plan' %}" class="fclick"></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            {% if request.user.is_authenticated %}
                            <li class="smenu-pare">
                                <span class="smenu">Dashboard</span>
                                <div class="smenu-open smenu-single">
                                    <ul>
                                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'dashboardprofile' %}">My profile</a></li>
                                        <li><a href="user-interests.html">Interests</a></li>
                                        <li><a href="user-chat.html">Chat lists</a></li>
                                        <li><a href="user-plan.html">My plan details</a></li>
                                        <li><a href="user-setting.html">Profile settings</a></li>
                                        <li><a href="user-profile-edit.html">Edit full profile</a></li>
                                        <li><a href="{% url 'login' %}">Sign in</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">login</a></li>
                            {% endif %}

                            
                            
                            <li><a href="{% url 'plan' %}">Plans</a></li>


                        </ul>
                    </div>

                    <!-- USER PROFILE -->
                    <div class="al">
                        <div class="head-pro">
                            <img src="{% static 'images/profiles/1.jpg' %}" alt="" loading="lazy">
                            <b>Advisor</b><br>
                            <h4>Ashley emyy</h4>
                            <span class="fclick"></span>
                        </div>
                    </div>

                    <!--MOBILE MENU-->
                    <div class="mob-menu">
                        <div class="mob-me-ic">
                            <span class="ser-open mobile-ser">
                                <img src="{% static 'images/icon/search.svg' %}" alt="">
                            </span>
                            <span class="mobile-exprt" data-mob="dashbord">
                                <img src="{% static 'images/icon/users.svg' %}" alt="">
                            </span>
                            <span class="mobile-menu" data-mob="mobile">
                                <img src="{% static 'images/icon/menu.svg' %}" alt="">
                            </span>
                        </div>
                    </div>
                    <!--END MOBILE MENU-->
                </div>
            </div>
        </div>
    </div>
    <!-- END -->

    <!-- EXPLORE MENU POPUP -->
    <div class="mob-me-all mobile_menu">
        <div class="mob-me-clo"><img src="{% static 'images/icon/close.svg' %}" alt=""></div>
        <div class="mv-bus">
            <h4><i class="fa fa-globe" aria-hidden="true"></i> EXPLORE CATEGORY</h4>
            <ul>
                <li><a href="{% url 'allprofiles' %}">Browse profiles</a></li>
                <li><a href="wedding.html">Wedding page</a></li>
                <li><a href="services.html">All Services</a></li>
                <li><a href="plans.html">Join Now</a></li>
            </ul>
            <h4><i class="fa fa-align-center" aria-hidden="true"></i> All Pages</h4>
            <ul>
                <li><a href="{% url 'allprofiles' %}">All profiles</a></li>
                <li><a href="profile-details.html">Profile details</a></li>
                <li><a href="wedding.html">Wedding</a></li>
                <li><a href="wedding-video.html">Wedding video</a></li>
                <li><a href="services.html">Our Services</a></li>
                <li><a href="plans.html">Pricing plans</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="sign-up.html">Sign-up</a></li>
                <li><a href="photo-gallery.html">Photo gallery</a></li>
                <li><a href="photo-gallery-1.html">Photo gallery 1</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog-detail.html">Blog detail</a></li>
                <li><a href="enquiry.html">Ask your doubts</a></li>
                <li><a href="make-reservation.html">Make Reservation</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="coming-soon.html" target="_blank">Coming soon</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
            <div class="menu-pop-help">
                <h4>Support Team</h4>
                <div class="user-pro">
                    <img src="{% static 'images/profiles/1.jpg' %}" alt="" loading="lazy">
                </div>
                <div class="user-bio">
                    <h5>Ashley emyy</h5>
                    <span>Senior personal advisor</span>
                    <a href="enquiry.html" class="btn btn-primary btn-sm">Ask your doubts</a>
                </div>
            </div>
            <div class="menu-pop-soci">
                <ul>
                    <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="late-news">
                <h4>Latest news</h4>
                <ul>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/1.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/3.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                    <li>
                        <div class="rel-pro-img">
                            <img src="{% static 'images/couples/4.jpg' %}" alt="" loading="lazy">
                        </div>
                        <div class="rel-pro-con">
                            <h5>Long established fact that a reader distracted</h5>
                            <span class="ic-date">12 Dec 2023</span>
                        </div>
                        <a href="blog-detail.html" class="fclick"></a>
                    </li>
                </ul>
            </div>
            <div class="prof-rhs-help">
                <div class="inn">
                    <h3>Tell us your Needs</h3>
                    <p>Tell us what kind of service you are looking for.</p>
                    <a href="{% url 'register' %}">Register for free</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END MOBILE MENU POPUP -->

    <!-- MOBILE USER PROFILE MENU POPUP -->
    <div class="mob-me-all dashbord_menu">
        <div class="mob-me-clo"><img src="{% static 'images/icon/close.svg' %}" alt=""></div>
        <div class="mv-bus">
            <div class="head-pro">
                <img src="{% static 'images/profiles/1.jpg' %}" alt="" loading="lazy">
                <b>user profile</b><br>
                <h4>Ashley emyy</h4>
            </div>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="sign-up.html">Sign-up</a></li>
                <li><a href="plans.html">Pricing plans</a></li>
                <li><a href="{% url 'allprofiles' %}">Browse profiles</a></li>
            </ul>
        </div>
    </div>
    <!-- END USER PROFILE MENU POPUP -->