    {% load static %}
    <!-- QUICK ACCESS -->
    <section>
        <div class="str home-acces-main">
            <div class="container">
                <div class="row">
                    <!-- BACKGROUND SHAPE -->
                    <div class="wedd-shap">
                        <span class="abo-shap-1"></span>
                        <span class="abo-shap-4"></span>
                    </div>
                    <!-- END BACKGROUND SHAPE -->

                    <div class="home-tit">
                        <p>Quick Access</p>
                        <h2><span>Our Services</span></h2>
                        <span class="leaf1"></span>
                        <span class="tit-ani-"></span>
                    </div>
                    <div class="home-acces">
                        <ul class="hom-qui-acc-sli">
                            <li>
                                <div class="wow fadeInUp hacc hacc1" data-wow-delay="0.1s" style="background-position:center;background-image: url({% static 'images/og/og3.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/user.png' %}" alt="" loading="lazy">
                                        <h4>Browse Profiles</h4>
                                        <p>1200+ Profiles</p>
                                        <a href="{% url 'allprofiles' %}">View more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wow fadeInUp hacc hacc2" data-wow-delay="0.2s" style="background-position:center;background-image: url({% static 'images/og/og2.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/gate.png' %}" alt="" loading="lazy">
                                        <h4>Wedding</h4>
                                        <p>1200+ Profiles</p>
                                        <a href="wedding-video.html">View more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wow fadeInUp hacc hacc3" data-wow-delay="0.3s" style="background-image: url({% static 'images/og/og3.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/couple.png' %}" alt="" loading="lazy">
                                        <h4>All Services</h4>
                                        <p>1200+ Profiles</p>
                                        <a href="services.html">View more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wow fadeInUp hacc hacc4" data-wow-delay="0.4s" style="background-position:center;background-image: url({% static 'images/og/og4.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/hall.png' %}" alt="" loading="lazy">
                                        <h4>Join Now</h4>
                                        <p>Start for free</p>
                                        <a href="{% url 'plan' %}">Get started</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wow fadeInUp hacc hacc3" data-wow-delay="0.3s" style="background-position:center;background-image: url({% static 'images/og/og5.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/photo-camera.png' %}" alt="" loading="lazy">
                                        <h4>Photo gallery</h4>
                                        <p>1200+ Profiles</p>
                                        <a href="{% url 'photo_gallery' %}">View more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wow fadeInUp hacc hacc4" data-wow-delay="0.4s" style="background-position:center;background-image: url({% static 'images/og/og4.jpg' %});">
                                    <div class="con">
                                        <img src="{% static 'images/icon/cake.png' %}" alt="" loading="lazy">
                                        <h4>Blog & Articles</h4>
                                        <p>Start for free</p>
                                        <a href="blog.html">Get started</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->