    {% load static %}
    <!-- BANNER & SEARCH -->
    <section>
        <div class="str">
            <div class="hom-head">
                <div class="container">
                    <div class="row">
                        <div class="hom-ban">
                            <div class="ban-tit">
                                <span><i class="no1">#1</i> Matrimony</span>
                                <h1>Find your<br><b>Right Match</b> here</h1>
                                <p>Most trusted Matrimony Brand in the World.</p>
                            </div>
                            <div class="ban-search chosenini">
                                <form method="post" action="{% url 'search' %}">
                                    {% csrf_token %}
                                    <ul>
                                        <li class="sr-look">
                                            <div class="form-group">
                                                <label>I'm looking for</label>
                                                <select class="chosen-select" name='gender'>
                                                    <option value="all">All Genders</option>
                                                    <option value="Male">Men</option>
                                                    <option value="Female">Women</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="sr-age">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <select class="chosen-select" name='age'>
                                                    <option value="all">Any Age</option>
                                                    <option value="1">18 to 30</option>
                                                    <option value="2">31 to 40</option>
                                                    <option value="3">41 to 50</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="sr-reli">
                                            <div class="form-group">
                                                <label>Religion</label>
                                                <select class="chosen-select" name='religion'>
                                                    <option value="all">Any Religion</option>
                                                    {% for item in religions %}
                                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li class="sr-cit">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select class="chosen-select" name='city'>
                                                    <option value="all">Any City</option>
                                                    {% for item in cities %}
                                                    <option value="{{ item.name }}">{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li class="sr-btn">
                                            <input type="submit" value="Search">
                                        </li>
                                    </ul>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->
    <!-- BANNER SLIDER -->
    <section>
        <div class="hom-ban-sli">
            <div>
                <ul class="ban-sli">
                    <li>
                        <div class="image">
                            <img src="{% static 'images/couples/ban-bg.jpg' %}" alt="" loading="lazy">
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <img src="{% static 'images/couples/ban-bg.jpg' %}" alt="" loading="lazy">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END -->



